html {
  background-color: #0e0e0f;
}

html,
body {
  overflow: hidden;
}

body {
  margin: 0;
  background: url('../img/bkg.jpg');
  background-position: center center;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
  background-color: #0e0e0f;
}

canvas {
  height: 100%;
  width: 100%;
  position: absolute;
  top: 0;
}

@keyframes reveal {

  0%,
  90% {
    bottom: -30px;
  }

  100% {
    bottom: 15px;
  }
}
